<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>| RecHuman |</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" th:href="@{/bootstrap-5.3.3-dist/css/bootstrap.min.css}">
	<script th:src="@{/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/bootstrap-5.3.3-dist/js/bootstrap.min.js}"></script>


</head>

<body>

	<div th:insert="fragments/publica-nave :: barSuperior"></div>
	<div class="container">

		<h1>Cadastrar vaga</h1>
		<div class="alert alert-success alert-dismissible fade show" th:if="${success}">
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			<span th:text="${success}"></span>
		</div>
		<form action="#" th:action="@{/vagas/salvar}" th:object="${vaga}" method="post">


			<div class="form-group">
				<label for=""><b>Nome do cargo:</b> </label> <input type="text" class="form-control"
					placeholder="Insira o nome do cargo" th:field="*{nome}" required> <small class="form-text text-muted"><i>*
						Utilize nomes e termos mais utilizados no mercado.</i></small>
			</div>

			<div class="row">
				<div class="col">

					<div class="form-group">
						<label for=""><b>Data de expiração:</b></label> <input type="date" th:field="*{data}"
							class="form-control" required /> <small class="form-text text-muted"><i>* Data em que a vaga
								expira.</i></small>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for=""><b>Salário:</b></label> R$ <input type="number" pattern="^\d+(\.|\,)\d{2}$"
							th:field="*{salario}" class="form-control" required /> <small
							class="form-text text-muted"><i>* Utilize valores
								considerando vírgula e ponto.</i></small>
					</div>

				</div>
			</div>


			<div class="form-group">

				<label for=""><b>Descrição da vaga:</b></label>
				<textarea class="form-control" th:field="*{descricao}" maxlength="254" rows="3" required></textarea>
				<small class="form-text text-muted"><i>* Breve resumo da
						vaga oferecida..</i></small>

			</div>


			<button type="submit" class="btn btn-success">Adicionar Vaga</button>

		</form>

	</div>


	<div style="height: 100px;"></div>

	<div class="footer-copyright fixed-bottom bg-dark text-center py-3">
		<span class="text-light align-middle">| App RH - UC 12 | - ©
			2022 Copyright: CTM Supervisão de Educação Online</span>
	</div>


</body>

</html>